@import url('https://fonts.google.com/specimen/Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    /*background-color: rgb(203, 230, 253);*/
}

body,
button,
input {
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 1000px;
}

h1 {
    margin-top: 16px;
    font-size: 55px;
    color: rgb(0, 0, 0);
}
h1 span{
    display: flex;
    margin:auto;
}
.btnStatusTarefa{
    padding: 4px 16px;
    border-radius: 34px;
    cursor: pointer;
    margin:10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}
#tarefasEmAndamento{
    background-color: gold;
}
#tarefasConcluidas{
    background-color: #2bff7c;
}
#todasAsTarefas{
    background-color: black;
}
.btnStatusTarefa:hover{
    background-color: blue!important;
}
.btnStatusTarefa:visited{
    background-color: red!important;
    color:red!important;
}

.checkBoxStatus{
    color:#3c3a3a;
    padding: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.div1 {
    margin-top: 32px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div1 input {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-right: 16px;
    font-size: 24px;
    width: 100%
}

.div1 button {
    padding: 4px 16px;
    border-radius: 34px;
    cursor: pointer;
    background-color: #2bff7c;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.div1 button:hover {
    border: none!important;
    background: blue;
}

.div2 {
    margin-top: 32px;
    width: 70%;
}

.btnEditar {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    color: gold;
    background: none;
}

.btnEditar:hover {
    border: none!important;
    background: rgba(0, 255, 13, 0.671);
}

ul {
    margin-top: 16px;
}

li {
    list-style-type: decimal;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 24px;
    font-size: 24px;
}

.btnExcluir {
    font-size: 23px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: tomato;
    cursor: pointer;
    background: none;
}

.btnExcluir:hover {
    border: none!important;
    background: rgb(102, 102, 101);
}
#janelaEdicao.abrir {
    display: block !important;
}
#janelaEdicao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
   display: block !important;    
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #FFF;
    outline: none;
    cursor: pointer;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #FFF;
}

.frm-linha button {
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #3c3a3a;
} 